<!DOCTYPE html>

<% include ./partials/header %>

<div>
  
  <div class="homepage-image">
    <img src="/img/vinyl-breaking.png"/>
    <h1>Vinyl</h1>
  </div>

  <div>
    
    <div>
      <h2>Records</h2>
      <div>
        <% albums.forEach(function(album) { %>
          <h4>
            <a href="/albums/<%= album.id %>"><%= album.title %></a>
          </h4>
          <h5>By: <%= album.artist %></h5>
        <% }) %>
      </div>
    </div>

    <div class="reviews">
      <h2>Recent Reviews</h2>
      <% include ./lists/reviews %>
    </div>
    
  </div>
  
</div>

<% include ./partials/footer %>