<!DOCTYPE html>

<html>
  <head>
    <title>Vinyl</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

  <nav class="border-solid">
    <a href="/"><img src="/img/colorful-vinyl.jpg"/>
      <span>Vinyl</span>
    </a>
    <ul>
      <% if (userSess) { %>
        <li><a href="/sign-out">Sign Out</a></li>
        <li><a href="/users/<%= userSess.id%>">Profile</a></li>
      <% } else { %>
        <li><a href="/sign-in">Sign In</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>